.product-card {
    width: 300px;
    height: 450px;
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.product-image {
    width: 100%;
}

.product-details {
    padding: 15px;
}

.product-title {
    font-size: 1em;
    margin-bottom: 10px;
}

.product-brand {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #555;
}

.product-category {
    color: #777;
    margin-bottom: 10px;
}

.product-rating {
    text-align: center;
    width: 60px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
}

.product-price {
    color: black;
    font-size: large;
    font-weight: 700;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.next-btn {
    width: 40%;
    margin-bottom: 10px;
    background-color: #FFB800;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.next-btn:hover {
    background-color: #FF9E00;
}

.add-btn {
    width: 65%;
    background-color: #FFB800;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-btn:hover {
    background-color: #FF9E00;
}


@media (max-width: 320px) {
    .product-card {
        width: 100%;
        height: auto;
        margin: 10px 5px;
    }

    .product-card:hover {
        transform: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .product-title {
        font-size: 0.85em;
    }

    .product-price {
        font-size: medium;
    }

    .next-btn {
        width: 60%;
    }

    .add-btn {
        width: 80%;
        font-size: 0.8em;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .product-card {
        width: 100%;
        height: auto;
        margin: 10px 8px;
    }

    .product-card:hover {
        transform: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .product-title {
        font-size: 0.9em;
    }

    .next-btn {
        width: 55%;
    }

    .add-btn {
        width: 75%;
    }
}



@media (min-width: 425px) and (max-width: 640px) {
    .product-card {
        width: 45%;
        height: auto;
        margin: 10px;
    }

    .product-title {
        font-size: 0.95em;
    }

    .next-btn {
        width: 50%;
    }

    .add-btn {
        width: 70%;
    }
}


@media (min-width: 640px) and (max-width: 768px) {
    .product-card {
        width: 220px;
        height: auto;
        margin: 12px;
    }

    .next-btn {
        width: 45%;
    }

    .add-btn {
        width: 65%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .product-card {
        width: 240px;
        height: auto;
        margin: 15px;
    }
}